{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li class="nav-item dropdown active">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" >beheer</a>
        <ul class="dropdown-menu">
            <li><a class="nav-item dropdown-item" href="{{ path('beheer_activiteit') }}">beheer activiteiten</a></li>
            <li><a class="nav-item dropdown-item" href="{{ path('beheer_soortactiviteit') }}">beheer soortactiviteiten</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <td class="text-center">
                <button class="btn "><a href="{{ path('beheer_activiteit') }}">beheer activiteiten</a></button>
            </td>
            <td class="text-center">
                <button class="btn"><a href="{{ path('beheer_soortactiviteit') }}">beheer soortactiviteiten</a></button>
            </td>
        </tr>
    </table>
{% endblock %}